<header>
  <h1>WTF time is that??</h1>
</header>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <thead class="sticky">
      <tr>
        <th ng-repeat="timeZone in timeZones">{{timeZone.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="utcTime in utcTimes">
        <td ng-repeat="timeZone in timeZones">
          {{utcTime.addMinutes(timeZone.utcOffsetMinutes) | shortTimeFormat}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
