<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="local">
        </colgroup>
        <thead>
            <tr>
                <th>Local time</th>
                <th>EDT</th>
                <th>CDT</th>
                <th>PDT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Midnight today</td>
                <td>2:30 pm yeseterday</td>
                <td>1:30 pm yesterday</td>
                <td>11:30 am yesterday</td>
            </tr>
            <tr>
                <td>1:00 am today</td>
                <td>3:30 pm yeseterday</td>
                <td>2:30 pm yesterday</td>
                <td>12:30 pm yesterday</td>
            </tr>
            <tr>
                <td>2:00 am today</td>
                <td>4:30 pm yeseterday</td>
                <td>3:30 pm yesterday</td>
                <td>1:30 pm yesterday</td>
            </tr>
        </tbody>
    </table>
</div>
